{% extends 'proto/home.html' %}

{% block title %}Attractions{% endblock %}

{% block content %}
    {% if three_attractions_list %}
        <div>
            {% for attraction in three_attractions %}
                <div class="w3-mobile w3-cell w3-padding-64 w3-container">
                    <div class="w3-content">
                        <h1> <a ="/TRAS/{{ Attraction.name }}/">{{ Attraction.name }}</a> </h1>
                        # star_distribution
                        # main_word_list
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
    #page numbers (selected page)
    {% endif %}

    {% include "proto/pagination.html" with page=page_obj %}

{% endblock %}
