<!DOCTYPE html>
<html lang="en">
<title>TRAS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>
    {% with apps_list='Attraction Sort' %}
        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
                {% for app_name in apps_list.split %}
                    {% with app_name|lower|add:"_index" as urlvar %}
                        <a href="{% url urlvar %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ app_name }}</a>
                    {% endwith %}
                {% endfor %}
            </div>

            <!-- Navbar on small screens -->
            <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
                {% for app_name in apps_list.split %}
                    {% with app_name|lower|add:"_index" as urlvar %}
                        <a href="{% url urlvar %}" class="w3-bar-item w3-button w3-padding-large">{{ app_name }}</a>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>

        <!-- Header -->
        <header class="w3-container w3-blue w3-center" style="padding:128px 16px">
            <h1 class="w3-margin w3-jumbo">{% block title %} Home {% endblock title %}</h1>
            <p class="w3-xlarge">{{ request.path }}</p>
        </header>

        {% block content %}
            <div class="w3-main w3-content w3-padding"  style="max-width:1200px;margin-top:100px">
                <div class="w3-row-padding w3-padding-16 w3-center">
                    {% for app_name in apps_list.split %}
                        <div class="w3-third">
                            <div class="w3-card-2 w3-leftbar w3-border-blue w3-margin" style="height: 300px;">
                                <h1>
                                    {% with app_name|lower|add:"_index" as urlvar %}
                                        <a href="{% url urlvar %}">{{ app_name }}</a>
                                    {% endwith %}
                                </h1>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock content %}
    {% endwith %}
</body>