{% extends 'proto/home.html' %}

{% block specific-style %}
<script src="https://kit.fontawesome.com/1484502b16.js" crossorigin="anonymous"></script>
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;
}

{% endblock specific-style %}

{% block title %} TARS Map {% endblock title%}

{% block content %}
	<div id ="guide01" style="position: fixed;  top: 100px;  left: 50px; z-index:9">
		<div class="w3-card w3-animate-left" style="width:350px">
		<header class="w3-container w3-blue"> 
        <span onclick="document.getElementById('guide01').style.display='none'" 
        class="w3-button w3-display-bottomright">close</span>
        <h2>Welcome to SEOUL!</h2>
		<h4>the capital of South Korea<h4>
		  </header>
		  <div class="w3-container w3-white">
			<p>TARS help you plan the trip with the BigData. We analyze more than 60000 reviews of real travelers in TripAdvisor. </p>
			<p>You can just...</p>
			<ul class="w3-ul">
				<li class="w3-bar w3-hover-blue">
					<span class="w3-bar-item"><span class="fas fa-map-marker-alt"> </span>Click the attraction Markers.</span>
				</li>
				<li class="w3-bar w3-hover-blue">
					<span class="w3-bar-item"><i class ="fas fa-file"></i>Read their Cards.</span>
					<span class="w3-bar-item"> We summarize a lot of reviews into just one card, with TextMining Tech</span>
				</li>
				<li class="w3-bar w3-hover-blue">
					<span class="w3-bar-item"><i class ="fas fa-check"></i>Choose the Attraction which you want to go!</span>
				</li>				
				<li class="w3-bar w3-hover-blue">
					<span class="w3-bar-item"><i class ="fas fa-sync"></i>Then we recommend you next attractions only for you.</span>
				</li>				
			</ul>
		  </div>
		
		</div>
	</div>
    <div id="map" style = "height: 800px;" class="w3-twothird"></div>    
	<div class = "w3-third w3-left w3-padding" id="card-window">
		{% for Attraction in attractions_list %}
		
		  <div id="{{Attraction.pk}}" class = "w3-margin-small w3-hide"></div>
		
		{% endfor %}

	</div>
	
    <script type="text/babel">		
		function makeCard(new_attraction){
			const cardWindow = document.getElementById('card-window');
			
			var c = cardWindow.children;
			var pk = new_attraction.pk;
			var name = new_attraction.fields.name;
			var static_url = "../static/image/"+name+".jpg";
			var star_info = JSON.parse(new_attraction.fields.star_info);
			var review_sample = JSON.parse(new_attraction.fields.review_sample);
			var latlng = {lat: new_attraction.fields.latitude ,lng:new_attraction.fields.longitude}
			var node = document.createElement("DIV");
			node.setAttribute('id', pk);
			node.setAttribute('class',"w3-margin-small w3-hide");
			cardWindow.appendChild(node);
			
			ReactDOM.render(
				<Card url= "{% url 'new_r' %}"
				csrf = "{{ csrf_token }}"
				attraction = {{
				  pk: pk,
				  name: name,
				  img_src: static_url,
				  star_info: star_info,
				  review_sample: review_sample,
				  latlng: latlng
				}}/>
				, document.getElementById(new_attraction.pk)
			);
		}	
	</script>
	<script>
		let map;
		let labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
		var labelIndex = 0;
		let path;
		let markers = {};
		let infowindows = {};
		let coordinates = [];
		let selectedArray = [-1];
		let newList = [];

		function rerenderMarkers(nList){
			
			for (var key in markers){
				markers[key].setMap(null);
			}
			
			if (path != null){
				path.setMap(null);
			}
			
			labelIndex = 0;
		
			selectedArray.forEach(function(new_pk){
				if (new_pk in markers){
					markers[new_pk].set('label', labels[labelIndex % labels.length]);
					markers[new_pk].setMap(map);
					labelIndex++;
				}
			})
			
			nList.forEach(function(new_pk){
				if (new_pk in markers){
					markers[new_pk].set('label', labels[labelIndex % labels.length]);
					markers[new_pk].setMap(map);
					labelIndex++;
				}
			})
			
			if (coordinates.length > 1){
				path = new google.maps.Polyline({
				  path: coordinates,
				  geodesic: true,
				  strokeColor: '#FF0000',
				  strokeOpacity: 1.0,
				  strokeWeight: 2
				});

				path.setMap(map);
			}
		}

		function hideshow(pk, isHide) {
			var x = document.getElementById(pk);
			if (x.className.indexOf("w3-show") == -1 && isHide) {
				x.className += " w3-show";
				setTimeout(function(){
				x.className = x.className.replace(" w3-show", "");
				},
				30000);				
			} else{
				x.className = x.className.replace(" w3-show", "");
			}
		}	
		
        function initMap() {
			var directionsService = new google.maps.DirectionsService();
			var directionsRenderer = new google.maps.DirectionsRenderer();
			map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 37.592085, lng: 126.90000},
			zoom:12
			});
			directionsRenderer.setMap(map);
			
			{% for Attraction in attractions_list %}
			var label_{{ Attraction.pk }} = labelIndex++;
						
			var infowindow{{ Attraction.pk }} = new google.maps.InfoWindow({
				content: "{{ Attraction.name }}"
            });
			
			infowindows[{{ Attraction.pk }}] = infowindow{{ Attraction.pk }};
			
			var marker{{ Attraction.pk }} = new google.maps.Marker({
				position: {lat: {{ Attraction.latitude }}, lng: {{ Attraction.longitude }}},
				label: labels[label_{{ Attraction.pk }} % labels.length],
				map: map
			});
			
			markers[{{ Attraction.pk }}] = marker{{ Attraction.pk }};
			
			marker{{ Attraction.pk }}.setMap(map);

			marker{{ Attraction.pk }}.addListener('click', function() {
				marker{{ Attraction.pk }}.setAnimation(google.maps.Animation.BOUNCE);
				setTimeout(function(){
				marker{{ Attraction.pk }}.setAnimation(null);
				}, 1000)
				
				infowindow{{ Attraction.pk }}.open(map, marker{{ Attraction.pk }});
				
				setTimeout(function(){
					infowindow{{ Attraction.pk }}.close();
				}, 10000)
				
				let pk = {{ Attraction.pk }};
				let name = "{{Attraction.name}}";
				hideshow(pk, true);
			});
			{% endfor %}
		}

		function placeMarker(new_attraction) {
		
			var latlng = new google.maps.LatLng(new_attraction.fields.latitude, new_attraction.fields.longitude);
			
			var marker = new google.maps.Marker({
				position: latlng,
				map: map
				});
			
			markers[new_attraction.pk] = marker;

			var infowindow = new google.maps.InfoWindow({
				content: new_attraction.fields.name
            });			
			
			infowindows[new_attraction.pk] = infowindow;
			
			marker.addListener('click', function() {
				marker.setAnimation(google.maps.Animation.BOUNCE);
				setTimeout(function(){
					marker.setAnimation(null);
				}, 1000)
				
				infowindow.open(map, marker);
				
				setTimeout(function(){
					infowindow.close();
				}, 10000)

				let pk = new_attraction.pk;
				hideshow(pk, true);
			});
		}

		function calcRoute(startAttraction, endAttraction, directionsService, directionsRenderer) {
			start = new google.maps.LatLng(startAttraction['latitude'], startAttraction['longitude']);
			end = new google.maps.LatLng(endAttraction['latitude'], endAttraction['longitude']);
			var request = {
				origin: start,
				destination: end,
				travelMode: 'TRANSIT'
			};
			directionsService.route(request, function(result, status) {
			if (status == 'OK') {
			  directionsRenderer.setDirections(result);
			}
			});
		}	
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuP0QbhWgKwx5mwDm1jV2pZXYU4FtGhQ4&callback=initMap"
    async defer></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	
	{% load static %}
	<script src='../static/js/Card.js' type="text/babel"></script>
	{% for Attraction in attractions_list %}
	<script type="text/babel">		
	var star_string{{Attraction.pk}} = "{{Attraction.star_info}}".split("&quot;").join('"');
	var star_info{{Attraction.pk}} = JSON.parse(star_string{{Attraction.pk}});
	
	var sample_string{{Attraction.pk}} = "{{Attraction.review_sample}}".split("&quot;").join('"');
	var review_sample{{Attraction.pk}} = JSON.parse(sample_string{{Attraction.pk}});
	var latlng = {lat: {{Attraction.latitude}},lng:{{Attraction.longitude}}}
	
	ReactDOM.render(
		<Card url= "{% url 'new_r' %}"
		csrf = "{{ csrf_token }}"
		attraction = {{
		  pk: {{Attraction.pk}},
		  name: "{{Attraction.name}}",
		  {% load static %}
		  img_src: "../static/image/{{Attraction.name}}.jpg",
		  star_info: star_info{{Attraction.pk}},
		  review_sample: review_sample{{Attraction.pk}},
		  latlng:latlng
		}}/>
		,
		document.getElementById({{Attraction.pk}})
	);
	</script>
	{% endfor %}
{% endblock content %}
