{% extends 'proto/home.html' %}

{% block title %}Sort{% endblock title%}

{% block content %}
    <div class="w3-main w3-content w3-padding"  style="max-width:1200px;margin-top:100px">
        <div class="w3-row-padding w3-padding-16 w3-center">
            {% for Sort in sorts_list %}
                <div class="w3-third">
                    <div class="w3-card-2 w3-leftbar w3-border-blue w3-margin"  style="height: 300px;">
                        <h3> <a href="{% url 'sort_detail' pk=Sort.pk %}">{{ Sort.sort_name }}</a> </h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
